In [1]:
import polars as pl
import plotly
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff
from plotly import subplots
import mlxtend as mlx
import numpy as np
import pandas as pd
import statsmodels
from IPython.display import display, HTML

pd.options.mode.chained_assignment = None  # default='warn'
pd.options.display.max_columns = 50

# Convert scientific notation to plain numbers
pd.options.display.float_format = '{:.2f}'.format

def display_side_by_side(*args):
    html_str = '<div style="display: flex; justify-content: flex-start;">'
    for df in args:
        if isinstance(df, pd.Series):
            df = df.to_frame()
        html_str += f'<div style="flex: 1; padding: 0;">{df.to_html(index=True)}</div>'
    html_str += '</div>'
    
    display(HTML(html_str))

In [2]:
#Take an initial look at the data's first and last rows, and get an overview of its shape

df = pd.read_csv('online_retail.csv')
display_side_by_side(df.head())
display_side_by_side(df.tail())

In [3]:
print('-----------------')
print(f'Dataframe contains {df.shape[1]} columns and {df.shape[0]} rows')

-----------------
Dataframe contains 8 columns and 541909 rows

In [4]:
#Add a TotalPrice column that allows us to factor in both price and quantity ordered
df['TotalPrice'] = df['UnitPrice'] * df['Quantity']

#Display all of the dtypes in the dataframe
dtypes_df = pd.DataFrame(df.dtypes).reset_index()
dtypes_df.columns = ['column name', 'dtype']
print(f'Unique dtypes in this DataFrame:{set(dtypes_df["dtype"].values)}')

print('-------------------------------')

Unique dtypes in this DataFrame:{dtype('O'), dtype('float64'), dtype('int64')}
-------------------------------

In [ ]:
#Display which columns follow under what dtype, separated by kind
object_df, float_df, int_df= dtypes_df[dtypes_df['dtype']== 'object'], dtypes_df[dtypes_df['dtype']== 'float64'], dtypes_df[dtypes_df['dtype']== 'int64']
display_side_by_side(object_df, float_df,  int_df)

In [6]:
#Check to see if we have any NaNs, Nulls or Duplicates
print(f'DF has NaNs: {df.isna().any().all()}')
print(f'DF has Null: {df.isnull().any().all()}')
print(f'DF has Duplicates: {df.duplicated().any().all()}')

print('-----------')

#Check to see if our DF contains duplicate customers or if they are all unique
print(f"Rows containing purchases from the same Customer ID: {df.duplicated(subset='CustomerID').any().all()}")
print(f"Number of Unique Customer IDs:{len(np.unique(df['CustomerID']))}")

DF has NaNs: False
DF has Null: False
DF has Duplicates: True
-----------
Rows containing purchases from the same Customer ID: True
Number of Unique Customer IDs:4373

In [7]:
#let's get a quick look at some of the Duplicates reported
df[df.duplicated()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.00,United Kingdom,1.25
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.00,United Kingdom,2.10
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.00,United Kingdom,2.95
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.00,United Kingdom,4.95
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920.00,United Kingdom,2.95
...,...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.00,United Kingdom,0.39
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.00,United Kingdom,2.49
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.00,United Kingdom,1.95
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.00,United Kingdom,2.10
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.00,United Kingdom,2.08

In [8]:
#Let's examine a transaction listed above that contains multiple duplicates
invoice_check = df[(df['InvoiceNo'] == '536409')]

#Check the shape first to see total order length
print(invoice_check.shape)

#Get the codes for all of the duplicated stock, and display all the transaction lines containing said codes within the order
invoice_dupe_stocks = invoice_check[invoice_check.duplicated(subset='StockCode')]
invoice_dupe_list = list(invoice_dupe_stocks['StockCode'])
invoice_check[invoice_check['StockCode'].isin(invoice_dupe_list)].sort_values('StockCode')

(58, 9)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
494,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.00,United Kingdom,1.25
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.00,United Kingdom,1.25
485,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.00,United Kingdom,4.95
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.00,United Kingdom,4.95
489,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.00,United Kingdom,2.10
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.00,United Kingdom,2.10
521,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.00,United Kingdom,2.95
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.00,United Kingdom,2.95
491,536409,85116,BLACK CANDELABRA T-LIGHT HOLDER,1,2010-12-01 11:45:00,2.10,17908.00,United Kingdom,2.10
502,536409,85116,BLACK CANDELABRA T-LIGHT HOLDER,5,2010-12-01 11:45:00,2.10,17908.00,United Kingdom,10.50
483,536409,90199C,5 STRAND GLASS NECKLACE CRYSTAL,3,2010-12-01 11:45:00,6.35,17908.00,United Kingdom,19.05
498,536409,90199C,5 STRAND GLASS NECKLACE CRYSTAL,1,2010-12-01 11:45:00,6.35,17908.00,United Kingdom,6.35
525,536409,90199C,5 STRAND GLASS NECKLACE CRYSTAL,2,2010-12-01 11:45:00,6.35,17908.00,United Kingdom,12.70

In [9]:
#So 13 duplicated StockCode lines out of 58 total items, and some of these subset duplicates have different quantities ordered, so we can assume that while they are duplicates, we don't necessarily need to remove them and can assume that they are legitimate transaction lines

In [10]:
#The variables table for this dataset has mentioned that a 'C' in the invoice means the transaction was cancelled - let's get an idea of how many there are
print(f'Number of rows containing cancelled transactions: {len(df[df["InvoiceNo"].str.contains("C")])}')
print('----------------------------------')
#Since this is a sizeable amount of data, let's filter them out and focus on analysing completed orders moving forward
completed_df = df[~df['InvoiceNo'].str.contains('C')]
print(f'Original Dataframe length :  {len(df)}')
print(f'Dataframe length after removing cancelled transactions: {len(completed_df)}')

Number of rows containing cancelled transactions: 9288
----------------------------------
Original Dataframe length :  541909
Dataframe length after removing cancelled transactions: 532621

In [11]:
from statsmodels.stats import descriptivestats


#Get an overview of our other numerical columns
stats_df = descriptivestats.describe(completed_df).round(1)
display_side_by_side(stats_df[:15].round(1), stats_df[15:].round(1))

In [ ]:
#Identify what negative quantities and negative unit prices mean with regards to completed orders, which can be seen from the min values
negative_qty = completed_df[completed_df['Quantity']<0]
display_side_by_side(negative_qty.head(3))
display_side_by_side(negative_qty.tail(3))

negative_price = completed_df[completed_df['UnitPrice']<0]
display_side_by_side(negative_price)

In [ ]:
#It looks like negative quantities are most likely tied to returns or other internal transactions that serve as manual inventory adjustments to reflect shrinkage
#Negative price on the other hand is solely related to what looks like a tax-specific adjustment

#Let's also filter both of these out to focus only on positive transactions
completed_positive_df = completed_df[ (completed_df['Quantity'] > 0) & (completed_df['UnitPrice'] > 0)]

In [ ]:
#Since our max Quantity and Unit Price also seem unusual especially when comapred to the 99% percentile values, let's inspect those as well
qty_sorted = completed_positive_df.sort_values('Quantity', ascending=False)
unit_price_sorted = completed_positive_df.sort_values('UnitPrice', ascending=False)

display_side_by_side(qty_sorted.head())
display_side_by_side(unit_price_sorted[:5])

In [ ]:
#The high quantity orders look to be legitimate wholesale orders but the high unit price items seems to be related to non-common stock charges, let's see what these are - noting that they all begin with a letter instead of the common 5-6 alphanumeric codes assigned to regular stock
import re

letter_stock_df = completed_positive_df[completed_positive_df['StockCode'].str.match(r'^[A-Z]')]

#Let's display all these codes, the descriptions, the counts, and also generate a list so we can filter them out if needed as well
letter_stock_counts_df = pd.DataFrame(letter_stock_df[['StockCode', 'Description']].groupby('StockCode').value_counts())
letter_stock_reset = letter_stock_counts_df.reset_index()
letter_stock_list = list(letter_stock_reset['StockCode'])

print(letter_stock_list)
letter_stock_counts_df

['AMAZONFEE', 'B', 'BANK CHARGES', 'C2', 'DCGS0003', 'DCGS0004', 'DCGS0069', 'DCGS0070', 'DCGS0076', 'DCGSSBOY', 'DCGSSGIRL', 'DOT', 'M', 'PADS', 'POST', 'S']

                                           count
StockCode    Description
AMAZONFEE    AMAZON FEE                        2
B            Adjust bad debt                   1
BANK CHARGES Bank Charges                     12
C2           CARRIAGE                        141
DCGS0003     BOXED GLASS ASHTRAY               4
DCGS0004     HAYNES CAMPER SHOULDER BAG        1
DCGS0069     OOH LA LA DOGS COLLAR             1
DCGS0070     CAMOUFLAGE DOG COLLAR             1
DCGS0076     SUNJAR LED NIGHT NIGHT LIGHT      2
DCGSSBOY     BOYS PARTY BAG                   11
DCGSSGIRL    GIRLS PARTY BAG                  13
DOT          DOTCOM POSTAGE                  706
M            Manual                          321
PADS         PADS TO MATCH ALL CUSHIONS        3
POST         POSTAGE                        1126
S            SAMPLES                           2

In [ ]:
#As most of these seem to be related to miscellaneous fees and charges, we will exclude them as well and save the filtered transaction list to a sales_csv file, which we will further analyze in a different notebook
stock_sales = completed_positive_df[~completed_positive_df['StockCode'].isin(letter_stock_list)]
stock_sales.to_csv('online_retail_pos_stock.csv', index=False)